<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MantechHelpdesk</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeValidate</display-name>
    <servlet-name>EmployeeValidate</servlet-name>
    <servlet-class>com.main.EmployeeValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeValidate</servlet-name>
    <url-pattern>/EmployeeValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminValidate</display-name>
    <servlet-name>AdminValidate</servlet-name>
    <servlet-class>com.main.AdminValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidate</servlet-name>
    <url-pattern>/AdminValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.control.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplaintDetails</display-name>
    <servlet-name>ComplaintDetails</servlet-name>
    <servlet-class>com.control.ComplaintDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintDetails</servlet-name>
    <url-pattern>/ComplaintDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Password</display-name>
    <servlet-name>Password</servlet-name>
    <servlet-class>com.main.Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.servlet.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FAQImp</display-name>
    <servlet-name>FAQImp</servlet-name>
    <servlet-class>com.main.FAQImp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQImp</servlet-name>
    <url-pattern>/FAQImp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePasswordServlet</display-name>
    <servlet-name>changePasswordServlet</servlet-name>
    <servlet-class>com.control.changePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePasswordServlet</servlet-name>
    <url-pattern>/changePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Changepassword</display-name>
    <servlet-name>Changepassword</servlet-name>
    <servlet-class>com.control.Changepassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Changepassword</servlet-name>
    <url-pattern>/Changepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewComplaints</display-name>
    <servlet-name>viewComplaints</servlet-name>
    <servlet-class>com.main.viewComplaints</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewComplaints</servlet-name>
    <url-pattern>/viewComplaints</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Submittechnician</display-name>
    <servlet-name>Submittechnician</servlet-name>
    <servlet-class>com.main.Submittechnician</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submittechnician</servlet-name>
    <url-pattern>/Submittechnician</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comp</display-name>
    <servlet-name>Comp</servlet-name>
    <servlet-class>com.main.Comp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comp</servlet-name>
    <url-pattern>/Comp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationForm</display-name>
    <servlet-name>RegistrationForm</servlet-name>
    <servlet-class>com.control.RegistrationForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationForm</servlet-name>
    <url-pattern>/RegistrationForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Submitfaq</display-name>
    <servlet-name>Submitfaq</servlet-name>
    <servlet-class>com.main.Submitfaq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submitfaq</servlet-name>
    <url-pattern>/Submitfaq</url-pattern>
  </servlet-mapping>
</web-app>